button {
    background-color: #26ffe9;
  }

button:hover{
    filter: drop-shadow(1px 7px 0.75rem #ccc);  
}

.fa-git{
    filter: drop-shadow(1px 7px 0.75rem #ccc);
  }


#homepage .photo {
    border-color: hotpink;
}