:root {
  --jet: #2f2f2f;
  --davysGrey: #50514f;
  --raisinBlack: #1a1b25;
  --black: #070707;
  --white: #fcfcfc;
  --hotPink: #d90368;
  --turquoise: #55d6c2;
  --purple: #775576;
  background-color: var(--white);

}

h1 {
  color: var(--hotPink);
}
h2 {
  color: var(--hotPink);
}

button {
    background-color: var(--turquoise);
    color: var(--raisinBlack);
    box-shadow: 0 1.5px 1px var(--davysGrey);
    filter: drop-shadow(0 1px 0.2rem var(--jet)); 
}

button:hover{
    filter: drop-shadow(0 1px 0.2rem var(--jet)); 
    background-color: var(--hotPink); 
    color: var(--white);
}

.fa-git {
    filter: drop-shadow(1px 7px 0.75rem #ccc);
  }

.fab, .fas, .far{
    color: var(--jet);
}

#navbar a {
  color: var(--raisinBlack);
}

#homepage .photo {
    border-color: var(--hotPink);
}

#about .contact {
  background-color: var(--purple);
  color: var(--white);
}

#about .social-icons .fab {
  color: var(--raisinBlack);
  transform: scale(1.1);
}

#about .social-icons .fab:hover {
  transform: scale(1.1);
}

#about .contact button {
  background-color: var(--turquoise);
  color: var(--raisinBlack);
  box-shadow: 0 1.5px 1px var(--jet);
}

#about .contact button:hover{
  box-shadow: 0 1.5px 1px var(--jet);
  background-color: var(--hotPink); 
  color: var(--white);
}


#projects img:hover {
  border-color: var(--turquoise);
  
}

#footer {
  background-color: var(--raisinBlack);
  color: var(--white); 
}


