/* Global Styles */
* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding-bottom: 10px;
}

p {
  padding-bottom: 20px;
  font-size: 18px;
}

button {
  /* background-color: #26ffe9; */
  border-style: none;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
  text-align: center;
  margin: 10px 0 10px 0;
}

/* button:hover{
  filter: drop-shadow(1px 7px 0.75rem #ccc);
  
} */

.container {
  margin: auto;
  max-width: 1200px;
}

.App {
  text-align: center;
  min-width: 280px;
  width: '100%';
  height: 100vh;
  font-family: "Lato", sans-serif;
}
.font-playfair {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.font-lato {
  font-family: "Lato", sans-serif;
}

/* .fa-git{
  filter: drop-shadow(1px 7px 0.75rem #ccc);
} */



/* Nav Styling */
#navbar {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 10px;
  height: 6vh;
  width: 100%;
}

#navbar .logo-container a {
  font-size: 36px;
}

#navbar .nav-links {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-between;
  font-size: 16px;
  text-decoration: none;
}

#navbar a {
  text-decoration: none;
}

#navbar a:visited {
  text-decoration: none;
  font-weight: bold;
}

#navbar a:hover, a:active {
  font-weight: bold;
  text-decoration: underline;
}

@media screen and (max-width > 1200px) {
  #navbar .nav-links {
    width: 15%;
  }
}

@media screen and (max-width: 900px) {

}


@media screen and (max-width: 720px) {
  #navbar {
    flex-direction: column;
    height: 10vh;
  }

  #navbar .nav-links {
    width: 50%;
    justify-content: space-between;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 550px ) {
  #navbar {
    flex-direction: column;
    height: 20vh;
  }

  #navbar .nav-links {
    flex-direction: column;
    width: 50%;
    padding-bottom: 10px;
  }
  #navbar p {
    margin-top: 10px;
  }
}

@media screen and (max-width: 375px ) {
  #navbar {
    flex-direction: column;
    height: 20vh;
  }

  #navbar .nav-links {
    flex-direction: column;
    width: 50%;
    padding-bottom: 10px;
  }
  #navbar p {
    margin-top: 10px;
  }
}


/* Homepage Styles */
#homepage {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  background-color: pink;
  /* overflow: auto; */
  justify-content: center;
  padding: 10px;
  align-self: center;
}

#homepage .container-1 {
  justify-content: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#homepage .intro-text {
  text-align: left;
  width: 600px;
}

#homepage .intro-photo {
  overflow: visible;
  width: 600px;
  justify-self: flex-end;
  display: inline-block;
}

#homepage .photo {
  width: 40%;
  border-style: solid;
  border-width: 5px;
  border-color: hotpink;
  border-radius: 30%;
  z-index: 10;
  transform: scale(1.3);
}

#homepage .contact-links{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 20px;
}

#homepage .social-icons {
  width: 30%;
  display: flex;
  justify-content: space-around;
  font-size: 36px;
}

@media screen and (max-width > 1200px) {
  
}

@media screen and (max-width: 900px) {

  #homepage .photo {
    width: 35%;
    border: solid 5px hotpink;
  }

  #homepage .contact-links{
    flex-direction: column;
  }

  #homepage .social-icons {
    width: 100%;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 30px;
  }
}


@media screen and (max-width: 720px) {
  #homepage .photo {
    width: 50%;
    border: solid 5px hotpink;
  }
}

@media screen and (max-width: 550px ) {
  #homepage .container-1 {
    flex-direction: column;
    justify-content: center;
  
  }

  #homepage .intro-text {
    text-align: center;
  }

  #homepage .photo {
    width: 50%;
    border: solid 3px hotpink;
  }

  #homepage .social-icons {
    width: 75%;
    justify-content: space-around;
    margin-top: 10px;
    font-size: 36px;
  }
}

@media screen and (max-width: 375px ) {
 
}

/* About Styles */
#about {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  overflow: auto;
  padding: 10px;
  padding-bottom: 100px;
}

#about .about-me {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

#about .about-text {
  width: 55%;
  justify-content: center;
  margin-left: 50px;

}

#about .about-text h1{
  font-size: 36px;
  text-align: left;
}

#about .about-text p {
  font-size: 18px;
  text-align: left;
}


#about .about-photo {
  width: 45%;
  display: flex;
  align-items: center;
}

#about .about-photo img {
  margin: auto;
}

.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.skills h2 {
  font-size: 36px;
}

.skills-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70%;
}

.fab, .fas, .far{
  font-size: 36px;
  margin: 0 10px 0 10px;
  color: #343a40;
}

.skill-icon{
  font-size: 20px;
  text-align: center;
}

.icon-container{
  padding: 10px;
}

.contact {
  width: 100%;
  background-color: pink;
}

.contact-text {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 75%;
  margin-top: 10px;
  padding: 40px 0 20px 0;
}

#about .contact-links{
  display: flex;
  width: 50%;
  align-items: center;
  flex-direction: row;
  justify-content: space-evenly;
  margin: auto;
  line-height: 50%;
}

#about .social-icons {
  width: 20%;
  display: flex;
  justify-content: space-around;
  font-size: 36px;
}


@media screen and (max-width: 900px) {
  #about .about-text {
    width: 45%;
    justify-content: center;
    margin-left: 20px;
  }
  #about .about-photo {
    width: 55%;
  }
  .skills-icons {
    width: 100%;
  }
  #about .contact-links{
    flex-direction: column;
  }
  #about .social-icons {
    width: 30%;
    font-size: 30px;
    margin: 10px 0 10px 0;
  }
}


@media screen and (max-width: 720px) {
  #about .about-text h1{
    font-size: 30px;
  }
  #about .about-text {
    text-align: center;
  }
  
  #about .about-text p {
    font-size: 16px;
  }
  #about .about-photo {
    width: 80%;
  }
  .skills-icons {
    width: 100%;
  }
  .skills h2{
    font-size: 30px;
  }
  
}

@media screen and (max-width: 550px ) {
  #about .about-me {
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
    margin-bottom: 20px;
    justify-content: center;
    
  }
  #about .about-text {
    width: 100%;
    margin: 0 ;
  }
  #about .about-text h1,p {
    text-align: center;
  }
  #about .about-photo {
    display: flex;
    align-self: center;
    width: 80%;
  }
}

@media screen and (max-width: 375px ) {
  .fab, .fas, .far{
    font-size: 25px;
    margin: 0 5px 0 5px;
  }
  .skill-icon{
    font-size: 16px;
  }
  .icon-container{
    padding: 5px;
  }
}


/* Project Main Page Styling */
#projects {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  width: 100%;
  padding-bottom: 100px;
}

#projects .project-heading p {
  font-size: 20px;
  padding-bottom: 2px;
}

#projects .card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#projects .card-subtitle {
  display: flex;
  width: 100%;
  margin-left: 20px;
  font-weight: bold;
}

#projects .card {
  height: 350px;
  width: 400px;
  margin: 10px;
  justify-content: center;
}






@media screen and (max-width: 900px) {
  #projects .card-subtitle {
    display: flex;
    width: 100%;
    margin-top: 25px;
    justify-content: center;
    font-weight: bold;
  }
  #projects .card {
    margin: 10px;
    width: 350px;
    height: 306px;
    justify-content: center;
  }

  
}


@media screen and (max-width: 720px) {
  
  
}

@media screen and (max-width: 550px ) {
  
}

@media screen and (max-width: 375px ) {
  #projects .card {
    margin: 5px;
    width: 300px;
    height: 263px;
    justify-content: center;
  }
}


/* Footer Styles */
#footer {
  display: flex;
  flex-direction: column;
  background-color: hotpink;
  /* background-color: #2d2e2e; */
  border: solid 1px hotpink;
  /* color: white; */
  padding: 10px 0;
  height: 500px;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-top: auto;
}

#footer p{
  /* line-height: 100px; */
}
#footer .switch {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  border: solid 1px black;
}

@media screen and (max-width > 1200px) {
  
}

@media screen and (max-width: 900px) {

}


@media screen and (max-width: 720px) {
  
}

@media screen and (max-width: 550px ) {
  
}

@media screen and (max-width: 375px ) {
 
}


/* @media screen and (max-width: 280px ) {

  #homepage .photo {
    width: 50%;
    border: solid 3px hotpink;
    z-index: 0;
  }

} */


